body {
    background-image: url(../images/swirl_pattern.png);
    margin: 0px;
}

header {
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 20px 20px 0px 210.5px;
    border-bottom: 3px solid #dddddd;
    margin-bottom: 30px;
}

#header1 {
    background: #4aaaa5;
    color: #ffffff;
    width: 240px;
    text-align: center;
    margin-bottom: 0px;
    padding: 20px;
    display: inline-block
}

#header2 {
    display: inline-block;
    color: #cccccc;
    margin: 16px 0px 0px 490px;
    padding-bottom: 20px;
}

div {
    width: 960px;
    height:600px;
    background-color: #ffffff;
    margin: 20px 210.5px 100px 210.5px;
    text-align: center;
}

#aboutMe {
    color: #4aaaa5;
    width: 880px;
    padding: 20px 20px 20px 0px;
    border-bottom: 3px solid #dddddd;
    margin: 0px 5px 0px 30px;
    text-align: left;
    overflow: auto;

}

#bioPic {
    float: left;
    width: 256px;
    height: 300px;
    margin: 30px 30px 10px 30px;
}

#aboutMeContent {
    color: #777777;
    line-height: 2;
    text-align: left;
    padding: 7px 20px 20px 0px;
    margin-left: 30px;
}

p {
    color: #777777;
    text-align: left;
    margin-left: 30px;
}

.box {
    border: 1px solid #dddddd;
    margin-right: 30px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

#boxMessage {
    border: 1px solid #dddddd;
    margin-right: 30px;
    padding: 100px;
}

#submit {
    color: #ffffff;
    background: #4aaaa5;
    padding: 10px 30px 10px 30px;
    width: 45px;
}

img {
    width: 250px;
    height: 200px;
    float: left;
}
#picBanner {
    background: #4aaaa5;
    color: #ffffff;
}

#footer {
    background: #666666;
    color: #cccccc;
    text-align: center;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 12px;
    border-top: 5px solid #4aaaa5;
}